.react-colorful {
  width: 100% !important;
  height: auto !important;
}

.react-colorful .react-colorful__saturation {
  border-radius: 6px 6px 0 0;
  padding-bottom: 60%;
  height: 0;
}

.react-colorful .react-colorful__hue {
  border-radius: 0 0 6px 6px;
  height: 14px;
}

.react-colorful .react-colorful__pointer {
  width: 16px;
  height: 16px;
} 