.react-colorful {
  width: 100%;
  height: 100%;
}
.react-colorful .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.react-colorful .react-colorful__hue {
  border-radius: 0 0 4px 4px;
}
.react-colorful .react-colorful__pointer{
    width: 10px;
    height: 10px;
} 
