.react-colorful .react-colorful__saturation {
  border-radius: 4px 4px 0 0;
  height: 10px;
}
.react-colorful .react-colorful__hue {
  border-radius: 0 0 0px 0px;
}
.react-colorful .react-colorful__pointer{
    width: 10px;
    height: 10px;
}

.block-color-picker .react-colorful {
  border-radius: 0;
}

.block-color-picker .react-colorful__saturation,
.block-color-picker .react-colorful__hue {
  border-radius: 0;
  border: none;
}

.block-color-picker .react-colorful__saturation {
  height: calc(100% - 16px);
}

.block-color-picker .react-colorful__hue {
  height: 16px;
}
